.load-more {
	text-align: center;
}

.posts-output {
	width: 100%;
	max-width: 600px;
}

.friendable-list {
	position: relative;
	min-height: 150px;
}

.user-list {
	@include grid;
	justify-content: flex-start;
}

.user-card {
	height: 125px;
	display: flex;
	// align-items: center;
	padding: 12.5px;
	box-sizing: border-box;
	.user-card-profile-picture-wrapper {
		width: 100px;
		margin-right: 10px;
		cursor: pointer;
	}
	.user-info {
		padding-top: 5px;
		flex: 1;
		.user-name {
			margin-bottom: 12px;
			cursor: pointer;
		}
	}
}
.user-actions {
	.btn-content {
		text-align: left !important;
	}
	.user-send-message, .remove-friend {
		line-height: 30px;
		height: 30px;
	}
	.friend-request {
		display: flex;
		.btn {
			line-height: 40px;
			height: 40px;
			width: 50%;
		}
	}
	.add-user, .request-cancel {
		line-height: 40px;
		height: 40px;
	}
	.outgoing-friend-request {
		margin-bottom: 10px;
	}
}
// post card
.post-card {
	width: 100%;
	max-width: 600px;
	margin-bottom: 20px;
	.post-card-user {
		display: flex;
		align-items: center;
		margin-bottom: 10px;
		.post-card-user-picture {
			cursor: pointer;
			max-width: 100px;
			max-height: 100px;
			border-radius: 50%;
			margin-right: 10px;
		}
		.post-card-user-name {
			cursor: pointer;
			margin-bottom: 5px;
		}
		.post-card-post-date {
			font-size: $sm_text;
			color: lighten($black, 33%);
			margin-bottom: 5px;
		}
		.post-card-post-title {
			font-weight: 600;
		}
	}
	.post-card-content {
		white-space: pre-line;
	    word-break: break-word;
	    font-size: 16px;
	    line-height: 22px;
	}
}

// banners
.banner-message {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 300px;
	width: 100%;
	.banner-message-icon {
		margin-right: 10px;
		font-size: 40px;
	}
	.banner-message-content {
		color: $black;
		font-size: $lg_text;
	}
}

.banner-success {
	background-color: lighten($salad, 20%);
}