// colors

$blank: #fff; // white
$red: #F85071;
$green: #00D664;
$pale_blue: #E3F0FF;
$light_blue: #67A2F6;
$popcorn: #FFCC66;
$warning: #FFC107;
$black: #464A53;
$purple: #7F63F4;
$orange: #FB9C48;
$background_grey: #FAFAFA;
$lightest_grey: #DDDFE1;
$light_grey: #ABAFB3;
$blueish_grey: #6A707E;
$dark_grey: #7F7F7F;

// text size
$avg_text: 18px;
$default_text: 16px;
$sm_text: 14px;

// other
$header_height: 75px;
$sidebar_width: 17%;
$content_area_width: 83%;
$sidebar_width_collapsed: 4%;
$content_area_width_collapsed: 96%;